$orange_color: rgb(255, 32, 0)

header
  & .navbar
    box-shadow: 0 0 25px 0 #e8e8e8

.header__search_icon
  display: flex
  justify-content: end
  align-items: center
  min-height: 40px
  & a, & img
    height: 25px


.offer_view__tags_nav
  box-shadow: 0 0 20px -1px rgb(209, 209, 218)
  border-radius: 15px
  padding: 15px
  margin-bottom: 50px

.offer_buy_btn
  color: $orange_color
  text-decoration: none
  &:hover
    color: $orange_color