{% extends "base_template.html" %}
{% load static %}

{% block title%}Вход{% endblock %}

{% block main_content %}

    <div class="container">
        <div class="row d-flex justify-content-center pt-5">
            <div class="col-3">
                <form method="post">
                    {% csrf_token %}
                    <h3 class="text-center">Вход</h3>
                    <input name="username" class="form-control mb-2" type="text" placeholder="username">
                    <input name="password" class="form-control mb-2" type="password" placeholder="Пароль">
                    <input class="form-control" type="submit" value="Войти">
                    <p class="text-center pt-2">если нет аккаунта <a href="{% url 'register' %}">зарегистрироваться</a></p>
                </form>
            </div>
        </div>
    </div>

    {% endblock %}


